

body{
	margin: 0;
}

nav{
	background-color: rgb(153, 3, 11);
	box-shadow: 0px 7px 12px #0f0101;
}


.navBarContent{
	margin-left: 30%;
}

.navBarItems{
	padding-bottom: 0.01%;
}

nav ul li{
	display: inline-block;
	font-family: sans-serif;
	margin-right: 4%;
	padding: 1%;
	color: rgba(255,255,255,0.6);
	font-size: 1.25rem;
	width: 15%;
	text-align: center;
}


.navBarContent ul li:hover{
	background-color: rgba(77, 0, 0,0.3);
	border-radius: 25px;
	cursor: pointer;
	color: white;
}


#configTitle{
	display: inline-block;
	margin-left: 3%;
	font-size: 1.75rem;
	color: white;
	margin-left:1%;
	margin-right:1%;
	margin-top: 2%;
	margin-bottom: 1%;
}

.content{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 10%;
	font-size: 1rem;
}

.settingsTitle{
	color: #a60a0f;
}

.settingsTitle:after{
	content: "";
	display: block;
	background-color: rgba(0,0,0,0.4);
	height: 1px;
	margin-top: 0.5%;
}

#settings{
	display: none;
}

#save{
	display: block;
	margin-top: 5%;
	padding: 1%;
	background-color: rgb(153, 3, 11,0.7);
	color: white;
	border-radius: 15px;
	width: 100px;
}

#save:hover{
	background-color: red;
}


#about{
	margin-left: 20%;

}

.inputField{
	border-radius: 10px;
	padding: 8px;
}

.inputField:hover{
	border: 2px solid #03d3fc;
}